/*  your css code here. If applicable */
body{
	background-color: #f5f5f5;
}
p{
	
	margin-left:10px;
}

.bg1{
	
	padding:10px;
	font-weight:bolder;
	
}
.bg2{

	background-color:white;
	border:1px solid black;

	margin-bottom:20px;

}
.bg3{
	background-color:white;
	border:1px solid black;
}
.john{
	 font-style: italic;
	 margin-left: 90%; 
/* 	text-alin:center; */
 }
.jane{
	 font-style: italic;
	 margin-left: 90%; 
 }